<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <style>body{font-family:Helvetica, serif; background-color:powderblue}
.f{float:left;text-align:left;max-width:30em;height:44em; overflow:hidden;margin-bottom:1em;margin-right:2em;background:#efefff;}
.fo td{vertical-align:top}
</style>
    <h1> Find movies according to a single keyword: </h1>
        <form action = gresponse method = get>
            <label for = "keyword"> Please enter a keyword: </label>
            <input type = text id = "keyword" name = "keyword"/> <br/>
            <input type = submit value="Find me movies!" name="gobtn"/></form>
</head>
<body>

</body>
</html>